			html body{
				margin:0 !important;
				padding:0 !important;
			
			}
			
			#okno{
				width: 80%;
				height: 100vh;
				background: #071D70;
				margin-left: auto;
				margin-right auto;
				overflow: hidden;
				display: flex;
			}
			
			#pamiec li{
				font-size: 20px;
				color: #6E84D6;
				font-weight: bold;
			
			}
			
			#pamiec p{
				display: inline-block;
				height: 25px;
				background: #1435AD
				text-align: center;
				border: 1px solid #6E84D6;
				margin-left: 5px;
				height: (100vh - 31px );
				cursor: pointer;
				-webkit-user-select: none;
				moz-user-select: none;
				ms-user-select: none;
				background: #1435AD;
				color: 6E84D6;
				
			
			}
			
			#kalkulator {
				margin-left: 0;
				margin-right: 0;
				width: 70%;
				height: 100%;
				overflow: hidden;
				
			
			}
			
			#przelicznik{
				color: #6E84D6;
				font-size: 16px ;
				font-weight: bold;
				
			}
			
			#przelicznik div{
				height: 30px;
				margin: 0;
				overflow: hidden;
			} 
			
			#przelicznik p:first-child{
				padding-left: 10px;
				width: 10%;
				-webkit-user-select: none;
				moz-user-select: none;
				ms-user-select: none;
				
			
			}
			
			#przelicznik p{
				margin:0;
				display:inline-block;
				margin-right: 20px;
			
			}
			
			#wyswietlacz:{
				background: #4867D6;
				height: 100px;
				overflow: hidden;
				
			}
			
			#wyswietlacz p{
				font-size: 80px;
				color: black;
				margin: 0;
				text-align: right;
				background: #4867D6;
			
			}
			
			#klawiatura{
				overflow: hidden;
				height: calc(60vh - 30px);
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				
			}
			
			.przycisk {
				overflow: hidden;
				border: 1px #6E84D6 solid;
				background: #1435AD;
				cursor: pointer;
				width: (20% - 2px);
				height: (20% - 2px);
				color: white;
				text-align: center;
				font-weight: bold;
				font-size: 18px;
				margin: 0;
				margin-top: calc (((70vh - 110px) / 4 - 2px - 18px) / 2);
			}
			
			
			
			#przelicznik div:hover{
			background-color:#4867D6;
			color: #071D70;
			
			
			}
			
			
			.przycisk  :hover{
			color:#071D70;
			background-color:#4867D6;
			
			
			}
			#klawiatura div:hover{
			color:#071D70;
			background-color:#4867D6;
			
			
			}
			
			
			#pamiec p:hover{
			color: #071D70;
			background-color:#4867D6;
			
			}
			@media all and (max-width: 780px){
				#okno{
					width: 100%;
				}
			}
			@media all and (max-width: 615px){
				#pamiec{
					width:0;
					
				}
				#kalkulator{
					width: 100%;
				}
			}
			@media all and (max-width: 460px){
				#przelicznik{
					height: 0;
				}
				#klawiatura{
					height: calc( 100% - 100px);
				}
				
			}
			@media all and (max-width: 280px){
				#wyswietlacz{
					height:40px;
					
				}
				#wyswietlacz p{
					font-size: 35px;
				}
				#klawiatura{
					
				}	
			}